/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Laravel
/backend/vendor/
/backend/storage/*.key
/backend/storage/pail
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/storage/*.key
/backend/storage/pail
/backend/storage/framework/*
/backend/storage/logs/*

# Node.js / React
/frontend/node_modules/
/frontend/public/build/
/frontend/public/hot/
/frontend/public/storage
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/.env

# Outras pastas e arquivos a serem ignorados
/phpunit.cache
/backend/.fleet
/backend/.idea
/backend/.nova
/backend/.vscode
/backend/.zed

# Arquivos gerais
/auth.json


storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json


# Personal files
.token